body {
  margin: 0;
  background: black;
  font-family: "宋体";
  background-size: cover;
  background: linear-gradient(
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.7)
  );
  background-image: url("/image/湖湘记忆背景.png");
}

header {
  color: black;
  padding: 20px;
  text-align: center;
  font-size: 1.25rem;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

.content {
  width: 80%;
  margin: 30px auto;
}

.story1 {
  display: flex;
  gap: 25px;
}

.story2 {
  display: flex;
  gap: 25px;
}

.story {
  background: black;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.story:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

h2 {
  margin-top: 0;
}
