body {
  margin: 0;
  font-family: "宋体", sans-serif;
  background: linear-gradient(
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.7)
  );
  background-image: url("../image/潇湘盛景1.jpg");
  background-size: cover;
}

header {
  font-size: 1.25rem;
  color: black;
  padding: 20px;
  text-align: center;
}

nav a {
  color: rgb(179, 177, 177);
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  color: black;
}

.gallery {
  width: 80%;
  margin: 30px auto;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

.place {
  background: black;
  background-color: rgba(255, 255, 255, 0.6);
  width: 260px;
  padding: 15px;
  border-radius: 6px;
  border: 2px solid rgb(89, 25, 25);
  text-align: center;
}
.place:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}
.place img {
  width: 100%;
  border-radius: 6px;
}
